<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"><link href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital@1&family=Days+One&family=Fredoka+One&display=swap" rel="stylesheet">
     <script src="script.js"defer></script>  

    <title>Document</title>
</head>
<body>
    
    <div class="header">
        <div class="logo">
            <h1>Portfolio</h1>
        </div>
        <div class="nav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/work">work</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
    </div>
     


      
    
 <div class="wrap">

 </div> 
 
 <div class="contact">
    

        <div class="atu">
            <div class="social">

            <div class="whatsapp"><i class="fa fa-whatsapp"></i>  <a href="https://wa.me/+249115735510/?text=urlencodedtext">+249115735510</a> </div>
            
            

            <div class="phone"> <i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:+249991620888">+24991620888</a> </div>

            </div>
            <div class="email">
                <h3> Alternativley , you can send me an email<br> make sure to leave your email-adress 
                </h3>

                <form action="">
            <label for="email">your email-adress:</label> <input type="email"> <br><br>
            
            
            <label for="message">Your message here :</label>  <br> <textarea cols="60" rows="10"></textarea> <br>
            <button>Send </button>
            </form>
            
            </div>
            </div>
        

    

        </div>

          
    

    
    
</body>
</html>