<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital@1&family=Days+One&family=Fredoka+One&display=swap" rel="stylesheet">
    <script src="script.js" defer></script>
    <title>codie</title>
</head>
<body>
 
    <div class="side-bar">
       
          <button class="intro-btn">Introduction</button>
        <button class="skills-btn">Skills</button>
          <button class="edu-btn">Education</button>

      
  
</div>
<div class="container">
    <div class="header">
        <div class="logo">
            <h1>Portfolio</h1>
        </div>
        <div class="nav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/work">work</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
    </div>
  
    <div class="intro">
        <div class="intro-details">
            <h1> <span> Mawadda Hussien  </span> <br>
                <span> full stack web-developer </span><br>
           <span> & sometimes a graphic designer </span> </h1>
           <button OnClick=" location.href='/contact' ">Hire me</button>
        </div>


        <div class="intro-img">
           <img src="home.svg">
        </div>


       
    </div>
    
        <div class="skills">
            
            <ul>
                <li><h3>HTML</h3> <span class="bar"><span class="html"></span></span></li>
                <li><h3>CSS</h3> <span class="bar"><span class="css"></span></span></li>
                <li><h3>Javascript</h3> <span class="bar"><span class="javascript"></span></span></li>
                <li><h3>Bootstrap</h3> <span class="bar"><span class="bootstrap"></span></span></li>
                <li><h3>Node js</h3> <span class="bar"><span class="nodejs"></span></span></li>
                <li><h3>Express</h3> <span class="bar"><span class="express"></span></span></li>
                <li><h3>Adobe illustrator</h3> <span class="bar"><span class="adobe"></span></span></li>
                
            </ul>
    
       
        </div>

        <div class="ed">

        <h1 class="edu-head">Education & certificates</h1>
    <div class="edu">
        
        <div class="education">

        <h3> School of Software Enginnering</h3>
        <p>Sudan University Of science & Technology 2017</p>
    </div>

        <div class="certificates">
            <h3>Responsive Web Design</h3>
        <p>FreeCodeCamp 2020</p> 
        <img src="re.PNG">
      
    </div>
    </div>
</div>
</div>
    
</body>
</html>