<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital@1&family=Days+One&family=Fredoka+One&display=swap" rel="stylesheet">
     <script src="script.js"defer></script>  

 <title>codie</title>
</head>
<body>
 
    

    <div class="header">
        <div class="logo">
            <h1>Portfolio</h1>
        </div>
        <div class="nav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/work">work</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
    </div>
    <div class="work-img">
        <img src="work.svg">
    </div>


   
    <h1 class="web">Website Projects</h1>


<div class="websites">
    <div>
    <h3>Animeted login interface</h3>
     
    <a href="https://loginui.herokuapp.com/">
        <img alt="Animeted login interface" src="loginui.PNG" >
     </a>
    </div>

       <div>
    <h3>Books library</h3>
     
    <a href="https://mylibrary03.herokuapp.com/">
        <img alt="bookslibrary" src="bookslib.PNG" >
     </a>
    </div>
</div>
     


    <div class="logo-des">
        
        <h1>Logo Design</h1>
        <div class="col">
         
        <div class="images">
            <img src="logo.png">
            <img src="logo1.png">
            <img src="logo2.png">
            <img src="logo3.png">
            <img src="logo4.png">
            <img src="logo5.png">
       
        </div>
    
     
      </div>
    
    


  
</body>
</html>